[role="home"] {
    margin-top: 7rem !important;
    background: $light;
    padding: 1em;
    article {
        color: $dark;

    }
}

.btn-file {
    position: relative;
    bottom: 1px;
    overflow: hidden;
    @extend .accent;
    @extend .bd-accent;
    padding:0.5em;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
