[role="about"] {
    margin-top: 3.4rem;
    font-size: 2em;
    article {
        display: block;
        margin: 0;
        padding: 1em;
        background: $light;
        color: $dark;
    }

    article.info {
        background: linear-gradient(
           rgba(255,255,255,0.5),
           rgba(255,255,255,0.5)
        ) , url('img/pl.jpg');
        //background-image: url('img/pl.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        .dot {
            border-bottom: 3px dotted $primary;
        }
        @include box-shadow(0,0,10px, black, true);
        img.profile {
            display: inline-block;
            height: 10em;
            //border: 5px solid $dark;
            @include border-radius(50%);
            @include box-shadow(0,0,10px, black);
        }
        div {margin: auto 2em;}
        div p {
            font-style: italic;
        }
    }

    article.workflow {
        text-align: center;
        h3 {
            font-size: 1.1em;
            margin: 0;
            color: $accent;
        }
        dl {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        dl dd {
            margin-left: 1em;
            @include transition(0.5s);
            a {
                font-size: 1em;
                color: $dark;
                cursor: pointer;
                @include transition(0.5s);
                &:visited {
                    color: $dark;
                }
                img {
                    @include border-radius(0.3em);
                    height:  2em;
                }
            }
            &:hover {
                @include transform(0em, -1em);
                a {color:$primary;}
            }
        }
    }

}
