[role="posts"] {
    margin-top: 3.4rem;
    background: $light;

    article {
        margin: 2em;
        text-align: justify;
        color: $dark;
        &:hover {
            @include box-shadow(0,0,5px, $dark);
            background: $white;
        }
        h1 {
            font-size: 1.5em;
            padding: 1em;
            padding-bottom: 0;
            color: $primary;
        }
        p {
            padding:1em;
            padding-top: 0;
        }
    }
}

